*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: whitesmoke;
}

#nightMode{
  color:#fff;
  background-color:#363636
}

#blue{background-color: lightblue;}
#red{background-color: lightcoral;}
#unoccupied{background-color: lightgrey;}